/* General page setup */
.signin-container {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
  }
  
  .signin-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signin-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
  }
  
  .input-field:focus {
    border-color: #0066cc;
    outline: none;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: #0066cc;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #004d99;
  }
  
  /* ToastContainer customization */
  .Toastify__toast-container {
    top: 10px;
    right: 10px;
  }
  